@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}
.justifyFF {
  margin-left: 0.75rem/* 12px */;
  margin-top: 0.25rem/* 12px */;
  display: flex;
  justify-content: space-between;
}
.titreLog{
  text-shadow: -3px 2px rgb(44, 44, 44);
}

.btnCon{
  font-weight:700;
}
