@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #092d74;
}
.justifyFF {
  margin-left: 0.75rem/* 12px */;
  margin-top: 0.25rem/* 12px */;
  display: flex;
  justify-content: space-between;
}
.titre{
  text-shadow: -3px 2px #00060d;
}

.btnCon , .btnSign, .btnEnvoyer{
  font-weight:700;
}

.btnCon {
  background-color: #ee3833;
  box-shadow: 0px 4px 7px #ee3833;
}

.dividerProfil{
  background-color: #adadad;
}

.tableResult{
  padding: 0 !important;
}

.headerAvis{
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/*
.btnPrendreRendezVous {
  border: #adadad solid 2px ;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  background-color: #525252;
  text-shadow: black 2px 2px 2px;
  box-shadow: black 2px 2px 2px;
  margin: 20px;
}
*/

.btnPrendreRendezVousParent {
  text-align: center;
}

.btnRendezVous {
  display: block;
}

